[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/janet"]
	path = extern/janet
	url = https://github.com/janet-lang/janet
[submodule "extern/readerwriterqueue"]
	path = extern/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
